asgiref==3.8.1
boto3==1.34.138
botocore==1.34.138
certifi==2024.7.4
charset-normalizer==3.3.2
diff-match-patch==20230430
Django==5.0.6
django-browser-reload==1.13.0
django-cors-headers==4.4.0
django-environ==0.11.2
django-import-export==3.3.8
django-tailwind==3.8.0
djangorestframework==3.15.2
evdev==1.7.1
idna==3.7
jmespath==1.0.1
MouseInfo==0.1.3
mysql==0.0.3
mysqlclient==2.2.4
pillow==10.4.0
playsound==1.3.0
PyAutoGUI==0.9.54
pygame==2.6.0
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pynput==1.7.7
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==0.1.30
python-dateutil==2.9.0.post0
python-xlib==0.33
python3-xlib==0.15
pytweening==1.2.0
pytz==2024.1
requests==2.32.3
s3transfer==0.10.2
six==1.16.0
sqlparse==0.5.0
tablib==3.5.0
typing_extensions==4.12.2
urllib3==2.2.2
