{% extends 'base.html' %}
{% block title %}
  Attendance Report
{% endblock %}

{% block body %}
  <section class="bg-gray-50 container mx-auto">
    <div class="md:h-[80vh] px-6 mx-auto lg:py-0">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 400" id="myTable">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 700 400">
            <tr>
              <th scope="col" class="px-6 py-3 capitalize">Profile Picture</th>
              <th scope="col" class="px-6 py-3 capitalize">Name</th>
              <th scope="col" class="px-6 py-3 capitalize">Position Applied For</th>
              <th scope="col" class="px-6 py-3 capitalize">Father Name</th>
              <th scope="col" class="px-6 py-3 capitalize">Email</th>
              <th scope="col" class="px-6 py-3 capitalize">marital_status</th>
              <th scope="col" class="px-6 py-3 capitalize text-base">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for applicant_record in applicant_records %}
              <tr class="bg-white border-b 800 700">
                <td class="px-6 py-4 flex justify-center items-center">
                    {% if applicant_record.upload_profile %}
                    <img
                    class="border-black min-w-12 border rounded-full w-14 text-center h-auto md:h-auto"
                    src="{{applicant_record.upload_profile.url}}"
                    alt="image of myself"
                    />
                    {% else %}
                    <img alt="profile-pic" class="border-black min-w-12 border rounded-full w-14 text-center h-auto md:h-auto" src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg" />
                    
                    {% endif %}
                  </td>
                <td class="px-6 py-4">{{ applicant_record.name }}</td>
                <td class="px-6 py-4">{{ applicant_record.position_applied_for }}</td>
                <td class="px-6 py-4">{{ applicant_record.father_name }}</td>
                <td class="px-6 py-4">{{ applicant_record.email_address }}</td>
                <td class="px-6 py-4">{{ applicant_record.marital_status }}</td>
                <td>
                    {% comment %} <a href="#" class="text-blue-700">Edit</a> | {% endcomment %}
                    <a href="{% url "applicant" applicant_record.id %}" class="text-blue-700">View</a>
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function () {
      $('#myTable').DataTable({
        responsive: false,
        order: [[1, 'des']],
        pageLength: 25, // Set the number of entries per page to 10,
        lengthMenu: [
          [10, 25, 50, 100],
          [10, 25, 50, 100]
        ] //
      })
    })
  </script>
{% endblock %}
