{% extends 'base.html' %}
{% block title %}Attendance Report{% endblock title %}


{% block body %}
<section class="bg-gray-50 900 container mx-auto ">
    <div class="md:h-[80vh] px-6 mx-auto lg:py-0">

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full  text-sm text-gray-500 400" id="myTable">
        <thead class="text-xs  text-gray-700 uppercase bg-gray-50 700 400">
            <tr class="">
                <th scope="col" class="px-6 py-3 capitalize">
                    shift date
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                    Time In
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                    Time Out
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                    remaining hours
                </th>
                <th scope="col" class="px-6 py-3 capitalize flex justify-center items-center">
                    Time Out Marked?
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                    Record Created At
                </th>
              
                
               
                
            </tr>
        </thead>
        <tbody  class="">
            {% for attendance in attendances %}
            <tr class="bg-white border-b 800 700 ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    {{attendance.shift_date}}
                </th>
                <td class="px-6 py-4">
                    {{attendance.shift_start_time}}
                </td>
                <td class="px-6 py-4">
                    {{attendance.time_out_time}}
                </td>
               
                <td class="px-6 py-4">
                    {{attendance.remaining_hours}}
                </td>

                <td class="px-6 py-4">
                    {% if attendance.is_time_out_marked %}
                    <i class="fa-solid flex justify-center items-center fa-circle-check text-green-700"></i>

                    {% else %}
                    <i class="fa-solid flex justify-center items-center fa-circle-xmark text-red-700"></i>
                    {% endif %}
                </td>
                <td class="px-6 py-4">
                    {{attendance.created_at}}
                </td>
               
                
            </tr>
            {% endfor %}
            
          
        </tbody>
    </table>
</div>
</div>
</section>


{% endblock body %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            responsive: false,
            pageLength: 25, // Set the number of entries per page to 10
            lengthMenu: [ [10, 25, 50, 100], [10, 25, 50, 100] ] //


        });
    });
</script>
{% endblock script %}