{% extends 'base.html' %}
{% block title %}Attendance Report{% endblock title %}


{% block body %}
<section class="bg-gray-50 900 container mx-auto ">
    <div class="md:h-[80vh] px-6 mx-auto lg:py-0">

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 400" id="myTable">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 700 400">
            <tr>
                <th scope="col" class="px-6 py-3 capitalize">
                    shift date
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                    shift time
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                    Working hours
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                     break hours
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                    remaining hours
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                    total hours completed
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                    Time out
                </th>
               
                
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendances %}
            <tr class="bg-white border-b 800 700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    {{attendance.shift_date}}
                </th>
                <td class="px-6 py-4">
                    {{attendance.shift_time}}
                </td>
                <td class="px-6 py-4">
                    {{attendance.working_hours}}
                </td>
                <td class="px-6 py-4">
                   <a href="{% url "break-time-stamp" attendance.id %}" class="text-blue-700 cursor-pointer"> {{attendance.break_hours}}</a>
                </td>
                <td class="px-6 py-4">
                    {{attendance.remaining_hours}}
                </td>
                <td class="px-6 py-4">
                    {{attendance.total_hours_completed}}
                </td>
                <td class="px-6 py-4">
                    {{attendance.time_out_time}}
                </td>
                
            </tr>
            {% endfor %}
            
          
        </tbody>
    </table>
</div>
</div>
</section>


{% endblock body %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            responsive: false,
            order: [[0, 'des']],
            pageLength: 25, // Set the number of entries per page to 10
            lengthMenu: [ [10, 25, 50, 100], [10, 25, 50, 100] ] //


        });
    });
</script>
{% endblock script %}