{% extends 'base.html' %}
{% block title %}Attendance Report{% endblock title %}


{% block body %}
<section class="bg-gray-50 900 container mx-auto my-8">
    <div class="md:h-[80vh] px-6 mx-auto lg:py-0">

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 400" id="myTable">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 700 400">
            <tr>
                
                <th scope="col" class="px-6 py-3 capitalize">
                    Employee Email
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                    shift date
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                    break type
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                    break start time
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                     break end time
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                    Is break end?
                </th>
                <th scope="col" class="px-6 py-3 capitalize">
                    comments
                </th>
            </tr>
        </thead>
        <tbody>
            {% for time_stamp in attendance.break_time_stamp.all %}
            <tr class="bg-white border-b 800 700">
              
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap ">
                    {{time_stamp.employee.email}}
                </th>
                <th scope="row" >
                    {{time_stamp.record_date}}
                </th>
                <td class="px-6 py-4">
                    {{time_stamp.break_type}}
                </td>
                <td class="px-6 py-4">
                    {{time_stamp.start_time}}
                </td>
                <td class="px-6 py-4">
                   {{time_stamp.end_time}}
                </td>
                <td class="px-6 py-4">
                    {% if time_stamp.is_break_end %}
                    <i class="fa-solid fa-circle-check text-green-700"></i>
                    {% else %}
                    <i class="fa-solid fa-circle-xmark text-red-700"></i>
                    {% endif %}
                <td class="px-6 py-4">
                    <textarea disabled class="bg-gray-300 px-3 py-2 text-black" rows="1">{{time_stamp.break_comments}}</textarea>
                </td>
            </tr>
            {% endfor %}
            
          
        </tbody>
    </table>
</div>
</div>
</section>


{% endblock body %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            responsive: false,   
            order: [[0, 'des']],
            pageLength: 25 // Set the number of entries per page to 10
            lengthMenu: [ [10, 25, 50, 100], [10, 25, 50, 100] ] //
        });
    });
</script>
{% endblock script %}