{% extends 'base.html' %}
{% load static %}


{% block style %}
<style>
  .sign-up-body{
    background-image: url("{% static 'images/background.svg' %}");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
</style>
{% endblock style %}

{% block title %} Update Role Permission {% endblock title %}

{% block body %}
{% comment %} <div class="container mx-auto">
  <div class="flex justify-end align-middle my-5">
     
      <a href="{% url "view-roles" %}" class="btn bg-white capitalize text-center text-sm/normal text-[#4A58EC] outline   outline-[#4A58EC] hover:bg-[#4A58EC] hover:text-white hover:outline-none px-8 py-3">back to view roles</a>

  </div>
  
</div> {% endcomment %}
<div class="my-2 flex items-center justify-center">
  <div class="my-14 sign-up-body w-full flex items-center justify-center">

  <div class="bg-[#ffffff] p-8 rounded-3xl shadow-2xl border border-gray-100 lg:w-[986px]" >
    <h1 class="text-4xl text-[#4A58EC] font-semibold mb-6 text-center">Update Role</h1>

    <form class="w-full" method="POST" action="{% url 'update-role' role.id %}" >
      {% csrf_token %}
      {% if messages %}

      {% for message in messages %}

      {% if message.tags == 'green' %}
      <div id="alert-1" class="flex items-center p-4 mb-4 text-white rounded-lg bg-white-50 dark:bg-green-600 dark:text-white" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
        <span class="sr-only">Info</span>
        <div class="ms-3 text-sm font-medium">
          {{ message }}
          
        </div>
        <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white-50 text-white rounded-lg focus:ring-2 focus:ring-white-400 p-1.5 hover:bg-white-200 inline-flex items-center justify-center h-8 w-8 dark:bg-green-600 dark:text-white dark:hover:bg-green-800" data-dismiss-target="#alert-1" aria-label="Close">
          <span class="sr-only">Close</span>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </button>
      </div>
      {% else %}
      <div id="alert-2" class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-600 dark:text-red-400" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="nz sb aza w-5 mx-4">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Info</span>
        <div class="ms-3 text-sm font-medium">
          {{ message }}
        </div>
        <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-600 dark:text-red-400 dark:hover:bg-gray-800" data-dismiss-target="#alert-2" aria-label="Close">
          <span class="sr-only">Close</span>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </button>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
                
      <div class="flex flex-wrap justify-center items-center align-middle -mx-3 mb-2">
        <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="my-10 capitalize tracking-wide text-[#141414] font-bold text-base/normal mb-2" for="grid-first-name">
            Role Name <span class="text-[#D65656]">*</span>
          </label>
          
        </div>
        <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0">
       
          <input required name="role_name" class="text-base appearance-none block w-full bg-[#F5F5F5] text-[#909090] border py-3 px-4 mb-3 rounded-xl leading-tight focus:outline-none focus:bg-white " id="grid-first-name" type="text" placeholder="Enter New Role Name" value="{{role.name}}">
        </div>

      </div>

      <div class="flex flex-wrap justify-center items-center align-middle -mx-3 mb-2">
        <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="my-10 capitalize tracking-wide text-[#141414] font-bold text-base/normal mb-2" for="grid-first-name">
            Field name
          </label>
          
        </div>
        <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0 flex justify-between">
       
            <label class=" capitalize tracking-wide text-[#141414] font-bold text-base/normal mb-2" for="grid-first-name">
                Add 
              </label>
              <label class=" capitalize tracking-wide text-[#141414] font-bold text-base/normal mb-2" for="grid-first-name">
                View
              </label>
              <label class=" capitalize tracking-wide text-[#141414] font-bold text-base/normal mb-2" for="grid-first-name">
                Edit
              </label>
              <label class=" capitalize tracking-wide text-[#141414] font-bold text-base/normal mb-2" for="grid-first-name">
                Delete
              </label>
        </div>

      </div>

        <div class="flex flex-wrap justify-center items-center align-middle -mx-3 mb-2">
          <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="my-10 capitalize tracking-wide text-[#141414] font-bold text-base/normal mb-2" for="grid-first-name">
              Employee
            </label>
            
          </div>
          <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0 flex justify-between">
         
                      
              <label class="relative my-4 inline-flex items-center cursor-pointer">
                  <input type="checkbox" value="on" {% if role.employee_add_access %}checked{% endif %} name="employee_add_access" class="sr-only peer">
                  <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
              </label>
              <label class="relative my-4 inline-flex items-center cursor-pointer">
                  <input type="checkbox" value="on" {% if role.employee_view_access %}checked{% endif %} name="employee_view_access" class="sr-only peer">
                  <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
              </label>
              <label class="relative my-4 inline-flex items-center cursor-pointer">
                  <input type="checkbox" value="on" {% if role.employee_edit_access %}checked{% endif %} name="employee_edit_access" class="sr-only peer">
                  <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
              </label>
              <label class="relative my-4 inline-flex items-center cursor-pointer">
                  <input type="checkbox" value="on" {% if role.employee_delete_access %}checked{% endif %} name="employee_delete_access" class="sr-only peer">
                  <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
              </label>
    
          </div>
  
        </div>
      <div class="flex flex-wrap justify-center items-center align-middle -mx-3 mb-2">
        <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="my-10 capitalize tracking-wide text-[#141414] font-bold text-base/normal mb-2" for="grid-first-name">
            IP
          </label>
          
        </div>
        <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0 flex justify-between">
       
                    
            <label class="relative my-4 inline-flex items-center cursor-pointer">
                <input type="checkbox" value="on" {% if role.ip_view_access %}checked{% endif %} name="ip_view_access" class="sr-only peer">
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
            <label class="relative my-4 inline-flex items-center cursor-pointer">
                <input type="checkbox" value="on" {% if role.ip_add_access %}checked{% endif %} name="ip_add_access" class="sr-only peer">
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
            <label class="relative my-4 inline-flex items-center cursor-pointer">
                <input type="checkbox" value="on" {% if role.ip_edit_access %}checked{% endif %} name="ip_edit_access" class="sr-only peer">
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
            <label class="relative my-4 inline-flex items-center cursor-pointer">
                <input type="checkbox" value="on" {% if role.ip_delete_access %}checked{% endif %} name="ip_delete_access"  class="sr-only peer">
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
  
        </div>

      </div>
      

      <div class="flex flex-wrap justify-center items-center align-middle -mx-3 mb-2">
        <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="my-10 capitalize tracking-wide text-[#141414] font-bold text-base/normal mb-2" for="grid-first-name">
            Role
          </label>
          
        </div>
        <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0 flex justify-between">
       
                    
            <label class="relative my-4 inline-flex items-center cursor-pointer">
                <input type="checkbox" value="on" {% if role.role_view_access %}checked{% endif %} name="role_view_access" class="sr-only peer">
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
            <label class="relative my-4 inline-flex items-center cursor-pointer">
                <input type="checkbox" value="on" {% if role.role_add_access %}checked{% endif %} name="role_add_access" class="sr-only peer">
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
            <label class="relative my-4 inline-flex items-center cursor-pointer">
                <input type="checkbox" value="on" {% if role.role_edit_access %}checked{% endif %} name="role_edit_access" class="sr-only peer">
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
            <label class="relative my-4 inline-flex items-center cursor-pointer">
                <input type="checkbox" value="on" {% if role.role_delete_access %}checked{% endif %} name="role_delete_access" class="sr-only peer">
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
  
        </div>

      </div>

     

      <div class="flex flex-wrap justify-center items-center align-middle -mx-3 mb-2">
        <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="my-10 capitalize tracking-wide text-[#141414] font-bold text-base/normal mb-2" for="grid-first-name">
            Applicant
          </label>
          
        </div>
        <div class="w-1/2 md:w-1/2 px-3 mb-6 md:mb-0 flex justify-between">
       
                    
            <label class="relative my-4 inline-flex items-center cursor-pointer">
                <input type="checkbox" value="on" {% if role.applicant_view_access %}checked{% endif %} name="applicant_view_access" class="sr-only peer">
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
            <label class="relative my-4 inline-flex items-center cursor-pointer">
                <input type="checkbox" value="on" {% if role.applicant_add_access %}checked{% endif %} name="applicant_add_access" class="sr-only peer">
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
            <label class="relative my-4 inline-flex items-center cursor-pointer">
                <input type="checkbox" value="on" {% if role.applicant_edit_access %}checked{% endif %} name="applicant_edit_access" class="sr-only peer">
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
            <label class="relative my-4 inline-flex items-center cursor-pointer">
                <input type="checkbox" value="on" {% if role.applicant_delete_access %}checked{% endif %} name="applicant_delete_access" class="sr-only peer">
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
  
        </div>

      </div>
        
      
 
      <button type="submit" class="w-full bg-[#4A58EC]  text-white py-2 px-4 rounded-2xl my-3 hover:bg-[#626DE4] capitalize">Update Account</button>
    </form>
  </div>
  </div>
</div>
{% endblock body %}
